# Core do FastAPI
fastapi
uvicorn[standard]

# Banco de Dados e Migrations
sqlalchemy
alembic
psycopg2-binary

# Validação e Configurações
pydantic
pydantic-settings

# Segurança e Autenticação
passlib
bcrypt==3.2.0
python-jose[cryptography]

# Comunicação e Utilitários
python-multipart
python-dotenv
requests
httpx
python-dateutil