<!DOCTYPE html>
<html lang="pt-br" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OneTask{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    
    <link href="/static/css/output.css" rel="stylesheet">
    <script src="/static/js/htmx.min.js" defer></script>
    <style>
        /* Define a fonte Inter como padrão para todo o corpo */
        body {
            font-family: 'Inter', sans-serif;
        }
        /* Efeito de carregamento sutil para ações HTMX */
        .htmx-request .htmx-request-target {
            opacity: 0.5;
            transition: opacity 300ms ease-in-out;
        }
    </style>
</head>
<body class="bg-slate-900 text-beige-200 antialiased">
    <div class="absolute inset-0 -z-10 h-full w-full bg-slate-900 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
    <div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-blue-400 opacity-20 blur-[100px]"></div>

    <div class="min-h-full">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>